<div class="container">
  <header class="d-flex row align-items-center border-bottom text-justify mt-5">
    <h1 class="mb-3">Company</h1>
    <p> /*description*/ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p class="mb-3"> <b>Address: </b> number street city, country postalCode </p>
    <p class="mb-3"> <b>Contact: </b> phoneNumber </p>
  </header>
  <main class="border-bottom">
    <h4 class="mb-4">Operating hours</h4>
    <div class="row g-5 text-center">
      <div class="col-md-3">
        <h5>Monday</h5>
        <p>
          8:00 - 16:00
        </p>
      </div>
      <div class="col-md-3">
        <h5>Tuesday</h5>
        <p>
          8:00 - 16:00
        </p>
      </div>
      <div class="col-md-3">
        <h5>Wednesday</h5>
        <p>
          8:00 - 16:00
        </p>
      </div>
      <div class="col-md-3">
        <h5>Thursday</h5>
        <p>
          8:00 - 16:00
        </p>
      </div>
      <div class="col-md-3">
        <h5>Friday</h5>
        <p>
          8:00 - 16:00
        </p>
      </div>
      <div class="col-md-3">
        <h5>Saturday</h5>
        <p>
          8:00 - 16:00
        </p>
      </div>
      <div class="col-md-3">
        <h5>Sunday</h5>
        <p>
          8:00 - 16:00
        </p>
      </div>
    </div>

    <div class="mt-4">
      <h4>Mechanical services</h4>
      <div class="row g-2 mb-5">
        <div class="col m-md-5">
          <h2>Type</h2>
          <p>description</p>
          <p>cost currency</p>
        </div>
        <div class="col m-md-5">
          <h2>Type</h2>
          <p>description</p>
          <p>cost currency</p>
        </div>
        <div class="col m-md-5">
          <h2>Type</h2>
          <p>description</p>
          <p>cost currency</p>
        </div>
        <div class="col m-md-5">
          <h2>Type</h2>
          <p>description</p>
          <p>cost currency</p>
        </div>
        <div class="col m-md-5">
          <h2>Type</h2>
          <p>description</p>
          <p>cost currency</p>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <p>Created by --- ---- </p>
  </footer>

</div>
