<div class="modal-body row justify-content-between m-0 p-0 h-100">
  <div class="col-md-6 row align-items-lg-center p-0 m-0 d-flex justify-content-center">
    <form class="w-75">
      <div class="row form-group mb-3">
        <h1 class="d-flex justify-content-center">New car</h1>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="select-mark">Mark</label>
        <select class="form-select" required="true" id="select-mark">
          <option value="TestMark1">TestMark1</option>
          <option value="TestMark2">TestMark2</option>
          <option value="TestMark3">TestMark3</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="select-model">Model</label>
        <select class="form-select" required="true" id="select-model">
          <option value="TestModel1">TestModel1</option>
          <option value="TestModel2">TestModel2</option>
          <option value="TestModel3">TestModel3</option>
          <option value="TestModel4">TestModel4</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="vin-input">VIN (optional)</label>
        <input type="text" class="form-control" id="vin-input" placeholder="VIN code">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="license-plate-input">License plate numbers (optional)</label>
        <input type="text" class="form-control" id="license-plate-input" placeholder="license plate numbers">
      </div>
      <button type="submit" class="btn btn-success w-100 mb-5">Add</button>
    </form>
  </div>
  <div class="col-md-6 row align-items-lg-center p-0 m-0">
    <ul class="list-group p-5">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <p>TestMark1 TestModel1</p>
        <div>
          <button type="button" class="btn btn-warning" style="margin-right: 1em">Modify</button>
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <p>TestMark2 TestModel2</p>
        <div>
          <button type="button" class="btn btn-warning" style="margin-right: 1em">Modify</button>
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <p>TestMark2 TestModel3</p>
        <div>
          <button type="button" class="btn btn-warning" style="margin-right: 1em">Modify</button>
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <p>TestMark3 TestModel4</p>
        <div>
          <button type="button" class="btn btn-warning" style="margin-right: 1em">Modify</button>
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </li>
    </ul>
  </div>
</div>
