<div class="modal-body row justify-content-between m-0 p-0 h-100">
  <div class="col-md-6 row align-items-lg-center p-0 m-0 d-flex justify-content-center">
    <form class="w-75" #vehicle="ngForm" (ngSubmit)="onSubmit(vehicle.value)">
      <div class="row form-group mb-3">
        <h1 class="d-flex justify-content-center"></h1>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="select-mark">Mark</label>
        <select class="form-select" required="true" id="select-mark" name = "brand" (click)="onChange($event)" ngModel>
          <option *ngFor="let car of cars" value="{{car.brandName}}">{{car.brandName}}</option>
        </select>
      </div>
      <div class="form-group mb-3" *ngIf="isModelEmpty()">
        <label class="form-label" for="select-model">Model</label>
        <select class="form-select" required="true" id="select-model" name = "model" ngModel>
          <option *ngFor="let model of models" value="{{model}}">{{model}}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="vin-input" >VIN</label>
        <input type="text" class="form-control" id="vin-input" name = "vin" placeholder="VIN code" ngModel>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="license-plate-input">License plate numbers (optional)</label>
        <input type="text" class="form-control" id="license-plate-input" name = "license" placeholder="license plate numbers" ngModel>
      </div>
      <button type="submit" class="btn btn-success w-100 mb-5" value = "submit" (click)="refresh()" onClick="window.location.reload();">Add</button>
    </form>
  </div>
  <div class="col-md-6 row align-items-lg-center p-0 m-0">
    <ul class="list-group h-75" style="overflow:hidden; overflow-y:scroll;">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let car of getUserCars()">
        <p>VIN: {{car.vinCode}}<br>License plate: {{car.licensePlate}}<br>Details: {{car.brandName}} {{car.modelName}}</p>
        <div>
          <button type="button" class="btn btn-danger" (click)="remove(car.vinCode)" onClick="window.location.reload();">Remove</button>
        </div>
      </li>
    </ul>
  </div>
</div>
