<div class="container d-flex justify-content-center h-100">
  <div class="row align-items-center" style="width: 25em">
    <form>
      <div class="row form-group mb-3">
        <h1 class="d-flex justify-content-center">Registration</h1>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="name">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="surnameInput">Surname</label>
        <input type="text" class="form-control" id="surnameInput" placeholder="surname">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="emailInput">Email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" required="true">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="password" required="true">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="passwordInput2">Confirm Password</label>
        <input type="password" class="form-control" id="passwordInput2" placeholder="password" required="true">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="addressInput">Address</label>
        <input type="text" class="form-control" id="addressInput" placeholder="Number Street City PostalCode Country">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="phoneNumberInput">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumberInput" placeholder="phone number" required="true">
      </div>
      <button type="submit" class="btn btn-success w-100 mb-5">Register</button>
    </form>
  </div>
</div>
